.splash-header {
  font-size: 130px;
  background: linear-gradient(rgba(255, 0, 0, 0.468), rgba(59, 59, 189, 0.605));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.splash {
  background-image: url('https://c.stocksy.com/a/IkX200/z9/606378.jpg?1570350419');
  height: 100vh;
  background-size: cover;
}